body {
    background: #f0f0f0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

h1 {
    color: white;
    text-align: center;
    padding: 5%;
}

h2 {
    text-align: center;
    color: #d60f0f;
}

a {
    color: #d60f0f;
    text-decoration: none;
}

label {
    color: grey;
    font-family: sans-serif;
    line-height: 20px;
}

input[type=password] {
    width: calc(100% - 10px);
    font-family: 'Kumbh Sans', sans-serif;
}

input[type=text] {
    width: calc(100% - 10px);
    font-family: 'Kumbh Sans', sans-serif;
}

input[type=submit] {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #d60f0f;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align:center;
}

.center {
    text-align: center;
}

.form-item {
    flex: auto;
}
.login-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    line-height: 20px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 20px;
    display: flex;
    flex-direction: column;
}

.registration-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    max-width: 500px;
    height: calc(90vh - 40px);
    background-color: white;
    padding: 20px;
    line-height: 20px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 20px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group label {
    display: block;
}

.form-group-item {
    width: 100%;
    
    float: left;
}

.city {
    flex: 4;
}

.state{
    flex: 1 2;
}

.zip {
    flex: 2 2;
}

.form-scroll {
    flex: auto;
    overflow-y: auto;
}

.header {
    background-color: white;
    width: 100%;
    min-height: 150px;
    position: relative ;
    top: 0;
    left: 0;
    box-shadow: rgba(0,0,0,0.2) 10px 3px 20px;
    border: none;
    display: flex;
    flex-direction: row;
}

.header-item{
    flex: auto;
}

.logo{

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.tabs{
    flex: auto;
    margin-left: 30px;
    margin-bottom: 15px;
}

.search {

    text-align: right;
    margin-top: 110px;
}

.body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters {
    margin: 20px 10px 10px 0px;
    background-color: white;
    width: 20vw;
    height: calc(100vh - 200px);
    flex: auto;
}

.items {
    margin: 20px 0px 10px 10px;
    background-color: white;
    width: 80vw;
    height: calc(100vh - 200px);
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
    .form {
        margin: auto;
        height: inherit;
        max-width: none;
    }

    .header {
        flex-direction: column;
    }

    .search {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}