body {
    background: #f0f0f0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

p{
    line-height: 20px;
}

h1 {
    color: #d60f0f;
    text-align: center;
    padding: 5%;
}

h2 {
    text-align: center;
    color: #d60f0f;
}

h3 {
    color: black;
}

a {
    color: #d60f0f;
    text-decoration: none;
}

label {
    color: grey;
    font-family: sans-serif;
    line-height: 20px;
}

input[type=password] {
    width: calc(100% - 10px);
    font-family: 'Kumbh Sans', sans-serif;
}

input[type=text] {
    width: calc(100% - 10px);
    font-family: 'Kumbh Sans', sans-serif;
}

#btnRegister {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #d60f0f;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

#btnLogin {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #d60f0f;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

#btnLogout {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #d60f0f;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

#btnAddInfo {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #d60f0f;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

/*input[type=submit] {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #d60f0f;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align:center;
}*/
.center {
    text-align: center;
}

.form-item {
    flex: auto;
}
.login-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    line-height: 20px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 20px;
    display: flex;
    flex-direction: column;
}

.registration-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    max-width: 500px;
    height: calc(90vh - 40px);
    background-color: white;
    padding: 20px;
    line-height: 20px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 20px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group label {
    display: block;
}

.form-group-item {
    width: 100%;
    
    float: left;
}

.city {
    flex: 4;
}

.state{
    flex: 1 2;
}

.zip {
    flex: 2 2;
}

.form-scroll {
    flex: auto;
    overflow-y: auto;
}

.header {
    background-color: white;
    width: 100%;
    min-height: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: rgba(0,0,0,0.2) 10px 3px 20px;
    border: none;
    display: flex;
    flex-direction: row;
}

.header-item{
    flex: auto;
}

.logo{

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.tabs{
    flex: auto;
    padding: 15px;
}

.tabs:hover {
    color: #d60f0f;
}

a .tabs{
    color: black;
}

.search {
    text-align: right;
    align-self: flex-end;
    padding: 10px;
}

#btnSearch {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #d60f0f;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

.icons{
    margin-right: 40px;
}

.icon {
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.profile {
    height: 237px;
    width: 237px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.aboutHeader {
    height: 237px;
    width: 237px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
}

#aboutTxt {
    text-align: left;
    padding: 40px;
    padding-bottom: 0px;
}

.hero {
    width: 100%;
}

.body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filters {
    margin: 10px 10px 0px 0px;
    text-align: center;
    background-color: white;
    width: 257px;
    flex: auto;
}

.types {
    padding: 10px;
    border: none;
    background-color: white;
    color: #d60f0f;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
}

.types:hover{
    color: black;
}

.items {
    margin: 10px 0px 0px 0px;
    padding: 20px;
    background-color: white;
    width: 80vw;
    flex: auto;
    justify-content: space-around;
}

.product {
    background-color: white;    
    text-align: center;
}

#bag {
    background-color: white;
    width: 800px;
    height: 500px;
    position: fixed;
    left: calc(50% - 400px);
    top: calc(50% - 200px);
    z-index: 2;
    box-shadow: rgba(0,0,0,0.2) 10px 3px 20px;
    border: none;
}

.footer {
    background-color: white;
    width: 100%;
    min-height: 150px;
    margin-top: 10px;
    border: none;
    display: flex;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .form {
        margin: auto;
        height: inherit;
        max-width: none;
    }

    .header {
        flex-direction: column;
    }

    .search {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}